
.sign-up-nav-link {
    background: #318084;
    padding: 12px;
    color: white;
    font-size: 14px;
    margin: 5px;
    border-radius: 3px;
    text-decoration: none;
}

.login-nav-link {
  background: white;
  padding: 12px;
  color: #685e5e;
  font-size: 14px;
  margin: 5px;
  border-radius: 3px;
  text-decoration: none;
}

.logout-button {
  background: #318084;
  padding: 12px;
  color: white;
  font-size: 14px;
  margin: 5px;
  border-radius: 3px;
  text-decoration: none;
}
