li, ul {
  font-family: 'Nunito Sans', sans-serif;
  color: #685e5e;
}

.oval_table_logo {
  height: 45px;
  padding: 1px;
  margin: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.left-nav-links {
  margin-top: 0;
  margin-bottom: 0;
}

.left-nav-links li {
  padding: 5px;
  list-style: none;
}

.right-nav-links {
  display: flex;
  margin: 0px;
}

.right-nav-links li {
  padding: 5px;
  list-style: none;
  height: 15px;
  margin: 10px;
}
