.make-res-form {
    box-shadow: 0 0 10px 1px #77777724;
    border-style: none;
    height: 200px;
    width: 270px;
    top: 0;
    position: sticky;
    background: white;
    margin-left: 32px;
}
