.make-res-form {
    box-shadow: 0 0 10px 1px #77777724;
    border-style: none;
    height: 200px;
    width: 270px;
    top: 0;
    position: sticky;
    background: white;
    margin-left: 32px;
    margin-top: 17px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px;
}

.reservation-submit-button {
  padding: 11px;
  margin: 3px;
  border-style: none;
  background: #cb1111;
  color: white;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}


.time-search-res, .date-search-res, .party-size-res {
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #685e5e;
  background-color: white;
  font-size: 15px;
}

.reservation_index_item {
  box-shadow: 1px 1px 0.8px 0.8px #77777724;
  border-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}

.reservation_index_item div {
  margin: 10px;
  padding: 5px;
  font-family: 'Nunito Sans', sans-serif;
  color: #685e5e;
}

.reservation_index_item h3 {
  font-family: 'Nunito Sans', sans-serif;
  color: #685e5e;
  font-size: 12px;
}

.reservation_index_item_thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 7px;
}
