.make-res-form {
  box-shadow: 0 0 10px 1px #77777724;
  border-style: none;
  height: 265px;
  width: 270px;
  top: 0;
  position: sticky;
  background: white;
  margin-left: 32px;
  margin-top: 17px;
  font-family: "Nunito Sans", sans-serif;
  padding: 15px;
}

.make-res-form h2 {
  font-size: 19px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #80808047;
  text-align: center;
  padding: 7px;
}

.make-res-form-field-a {
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #80808047;
  width: 100%;
  margin: 3px;
}

.make-res-form-field-b {
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #80808047;
  width: 100%;
  margin: 3px;
}

// .make-res-form-field-c {
//   display: inline-block;
//   border-bottom-style: solid;
//   border-bottom-width: thin;
//   border-bottom-color: #80808047;
//   width: 25px;
//   margin: 3px;
// }

.make-res-form-field-b:hover,
.make-res-form-field-a:hover {
  border-bottom-color: red;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

h5 {
  margin-block-start: 2px;
  font-size: 13px;
  margin-block-end: 1px;
}

.reservation-submit-button {
  padding: 11px;
  margin: 3px;
  border-style: none;
  background: #cb1111;
  color: white;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.time-search-res,
.date-search-res,
.party-size-res {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  color: #685e5e;
  background-color: white;
  font-size: 18px;
}

.reservation_index_item {
  box-shadow: 1px 1px 0.8px 0.8px #e2d0d0;
  padding: 20px;
  margin: 20px;
  list-style: none;
}

.reservation_index_item_top {
  border-style: none;
  display: flex;
  justify-content: space-between;
}

.reservation_index_item_bottom {
  border-top: solid;
  justify-content: space-between;
  border-width: thin;
  border-color: #eae7e7;
  height: 35px;
  padding: 10px;
}

.reservation_index_item_bottom button {
  padding: 11px;
  border-style: solid;
  border-width: thin;
  border-color: #eae7e7;
  float: right;
  margin: 3px;
  color: #cb1111;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}

.reservation_index_item div {
  margin: 10px;
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  color: #685e5e;
}

.reservation_index_item h3 {
  font-family: "Nunito Sans", sans-serif;
  color: #cdcaca;
  font-size: 15px;
}

.reservation_index_item p {
  font-size: 22px;
  margin-top: 3px;
}

.reservation_index_item_thumbnail {
  height: 150px;
  width: 150px;
  border-radius: 4px;
}

.reservation_index_item_rest_link p {
  color: #20849c;
  font-weight: bold;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
  margin-left: 0px;
}

.reservation-show-modal-box {
  position: fixed;
  background-color: white;
  top: 10%;
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  padding: 25px;
}
