// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant_index_item_thumbnail {
    width: 190px;
    height: 190px;
    border-radius: 8px;
    margin: 10px;
}

.restaurant_index_item {
  display: flex;
  margin: 10px;
  border-bottom-color: #e9e4e4;
  border-bottom-style: solid;
  padding: 20px;
  border-bottom-width: 1px;
}

.restaurant_index_item h3 {
  font-size: 20px;
  color: #20849c;
}

.restaurant-info-list {
  list-style: none;
  display: flex;
}

.restaurant-info-section {
  display: flex;
}

.restaurant-description {
  list-style: none;
}

.restaurant-description h1 {
  color: #2f292ade;
  font-size: 38px;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  border-bottom-color: #80808059;
  margin-right: 50px;
}


.rest-details-list-1, .rest-details-list-2 {
  font-size: 12px;
  list-style: none;
  line-height: 1;
}

.rest-details-list-1 h3, .rest-details-list-2 h3 {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  list-style: none;
  margin-bottom: 5px;
}

.rest-details-list-1 li, .rest-details-list-2 li {
  margin: 30px;
}

.main-restaurant-show-page {
  display: flex;
  justify-content: space-between;
  padding-top: 293px;
  position: relative;
  z-index: 5;
}

.main-restaurant-show-page li, h1, h2, h3, p, section {
  color: black;
}

.main-restaurant-show-banner {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
}

.main-restaurant-show-banner::after {
  content: "";
}

li, ul {
  font-family: 'Nunito Sans', sans-serif;
  color: #685e5e;
}

.restaurant-show-nav-bar {
  background: white;
  top: 0;
  position: sticky;
}

.restaurant-show-nav-bar ul {
  border-bottom-color: #e9e4e4;
  border-bottom-width: .5px;
  border-bottom-style: solid;
  display: flex;
  justify-content: left;
}

.restaurant-show-nav-bar a {
  text-decoration: none;
}

.restaurant-show-nav-bar a:hover {
  text-decoration: none;
  color: red;
}

.restaurant-show-nav-bar li:hover > a {
    color: red;
}

.restaurant-show-nav-bar li:hover {
  border-bottom-color: red;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: red;
}
//
// .restaurant-show-nav-links {
//   display: flex;
// }
//
.restaurant-show-nav-bar li {
  padding: 10px;
  list-style: none;
  padding-right: 28px;
  font-weight: bold;
  font-size: 15px;
  color: #3e3e40cf;
}
