.reviews-list {
  padding-bottom: 300px;
  margin: 25px;
  padding-top: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.reviews-form {
  display: flex;
  flex-direction: column;
}

.review-form-button {
  padding: 11px;
  margin: 3px;
  border-style: none;
  background: #cb1111;
  color: white;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  width: 100px;
  align-self: flex-end;
}

.review-stars-on i {
  color: #cb1111;
}

.review-stars-on-yellow i {
  color: #e5ae06;
}

.review-stars-off i {
  color: gray;
}

.review-stars-off {
  display: inline;
}

.no-ratings-yet {
  color: #c4b0b0;
  font-style: italic;
  margin: 1px;
}

.star-drop-down {
  margin: 10px;
  height: 40px;
  width: 150px;
  font-size: 15px;
}

.review-item {
  border-bottom: solid;
  border-bottom-width: 0.05px;
  border-bottom-color: #eee7e7;
  padding-bottom: 10px;
}
